@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="jumbotron">
        <h1>Follow Terry on Mixer</h1>
        <p class="lead">https://mixer.com/McLovenRainbow7 also Terry likes Subway</p>
    </div>
